$f1 = 200px

indent(val1 = 5, val2 = 5)
	margin val1 px
	padding val2 px

body
	width 100%
	background-color: #164B69;
	display flex
	align-items center
	justify-content center
	font-size 14px
	text-align center
	padding 50px
	position absolute
	font-family arial

#marked
	background rgb(190, 190, 190);
	&:hover
		background grey

p
	indent()
	text-align justify
	text-indent 1.5em
	line-height 2
	word-spacing 3px
	img
				display block
				height $f1
				float right
				indent()
				
.main 
	width 80%
	indent(5, 10)
	margin auto
	background #E3E3E3
	min-width 600px
	&__menu
		display flex
		justify-content center
		font-weight bold
		indent()
		&_a
			margin 5px 2%
			padding 5px
			text-decoration none
			color black
			&:hover
				text-decoration none
				color black
				background-color lightgrey
	&__article
		min-height ($f1 * 1.75)
		indent()
	&__video
		indent()
	&__gallery
		indent()
		display flex
		justify-content center
		img
			width 33%
			indent()
	&__centerblock
		border solid thin
		indent()
		display grid
		grid-template-rows repeat(2, 1fr)
		grid-template-columns repeat(2, 2fr)
		justify-items center
		grid-gap 5px
		&__sideblock
			border solid thin
			grid-area 1 / 1 / 3 / 2
		&__first_article
			border solid thin
			grid-area 1 / 2 / 2 / 4
		&__second_article
			border solid thin
			grid-area 2 / 2 / 3 / 4

@import media