div.main__menu
	a.main__menu_a(href = "index.html") CSS
	a.main__menu_a(href = "#") Синтаксис CSS
	a.main__menu_a(href = "#") Вставка CSS
	a.main__menu_a(href = "#") CSS текст
	a.main__menu_a(href = "index2.html") CSS шрифт
	a.main__menu_a(href = "index3.html") блоки