include includes/template
			div.article
				p. 
					CSS (англ. Cascading Style Sheets — каскадные таблицы стилей)
					— формальный язык описания внешнего вида документа, написанного с
					использованием языка разметки.