include includes/head_template
	body
		.main
			include includes/menu_template
			.main__gallery
				img(src = "img/css2.jpg")
				img(src = "img/html.jpg")
				img(src = "img/syntax.jpg")
			.main__centerblock
				.main__centerblock__sideblock 
					p.
						В HTML4 практически все элементы относились к двум типам —  блочные
						и строчные элементы. Блочные элементы (p, ol, div) начинаются
						с новой строки и занимают всё доступное им пространство по ширине, независимо
						от содержимого, строчные (a, span) являются частью строки, их
						размеры определяются содержимым. HTML5 отказался от строгого разделения
						тегов на блочные и строчные, но само разделение, конечно, сохранилось.
						Только оно осуществляется через CSS.
				.main__centerblock__first_article
					p.
						Блочный элемент - это элемент, который занимает всю доступную ширину и всегда
						начинается с новой строки. Высота блока зависит от его содержимого.
				.main__centerblock__second_article 
					p.
						Строчный элемент - это элемент, который является непосредственной частью строки,
						у него значение свойства display установлено как inline.
				.main__centerblock__third_article 
					p. 
						Строчно-блочный элемент объединяет свойства блочных и строчных элементов. У него 
						значение свойства display имеет значение inline-block. 